@keyframes glass-button {
    0%   { left: -17vw;  opacity: 0.5;}
    7%   {              opacity: 1.0;}
    15%  { left: 103vw;}
    100% { left: 103vw;}
}

.adding-button {
    border-radius: 23vw 23vw 23vw 23vw;
    background: url(/static/art/add.svg) no-repeat left;
    background-size: 15%;
    background-position-x: 2.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:100%;
    padding-left:5vw;
    user-select: none; 
    cursor:pointer;
    outline: none;
    position: relative;
    overflow: hidden;
    background-color: #00000070;
    border: solid 1px orange;
    left:-1.5vw;
    box-shadow: 1vw 0.5vw 5vw rgb(255, 102, 0);
    transition:transform 0.25s ease-in-out;
}

    .adding-button:hover {
        transform: scale(1.1);
    }


    .adding-button span{
        color:wheat;
        position:relative;
        top:0.13vw;
        left: 0.4vw;
        font-size: 1.8vw;
        font-family: 'Xolonium';
    }

    .adding-button .highlight {
        background-color: #fcf9f1;
        opacity: 0.5;
        height: 12vw;
        top:-2vw;
        width:1vw;
        left:-13vw;
        transform: rotate(13deg);
        position: absolute;
        animation: glass-button 6s linear 0s infinite;
    }

    .adding-button .highlight2 {
        background-color: #fcf9f1;
        opacity: 0.5;
        height: 12vw;
        top:-2vw;
        left:-13vw;
        width:2vw;
        transform: rotate(13deg);
        position: absolute;
        animation: glass-button 6s linear .04s infinite;

    }