.basket-content {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(/static/art/backgroundstars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.basket-content h1 {
    color: #ffc400;
    padding-top: 9vw;
}

.basket-content h2 {
    padding: 3vw;
    color:#fd8700;
    font-size: 2vw;
}

.basket-content .rocket {
    height: 13.1vw;
    width:13.1vw;
    background-image: url(./static/art/rocket.svg);
    transform: rotate(45deg);
    top:17%;
    left:4%;
    position: absolute;
    background-color: #ffc400;
    background-size: cover;
    display: none;

}

.fields {

    width:33vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 2px solid #766e6e61;
    padding-top: 3vw;
}

    .fields input {
        height: 3vw;
        padding: 2vw;
        border:none;
        background-color: rgb(255, 192, 55);
        margin: 0.5vw;
        font-size:1.2vw;
        transition: all 0.25s ease-in-out;
        border-radius: 0.6vw;
    }

        .fields input:focus {
            outline:none;
            border-bottom-width: 2px;
            background-color: #ffa600;
        }

    .fields input[type='submit'] {
        padding:3vw;
        height: 3vw;
        font-size: 3vw;
        text-align:center;

        background-color: salmon;
    }