@keyframes loading-pulse {
    0%   {transform: translateX(-90vw);}
    50%  {transform: translateX(7.5vw);} 
    100% {transform: translateX(50vw);} 
}

.basket-content {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.basket-content span {
    text-decoration: underline;
    cursor: pointer;  
}

.basket-content .target {
    margin-top:6vw;
    width: 40%;
    height: 7vw;
    /* background-image: url(/static/art/target.svg); */
    font-size:3.0vw;
    background-size: contain;
    background-repeat: no-repeat;
}

.basket-content .random {
    font-size:2.5vw;
    margin-top:6vw;
    padding: 3vw 3vw;
    line-height: 1.2em;
}

.basket-content h2,
.target,
.random {
    padding-top: 2.5vw;
    margin-bottom: 2.5vw;
    color:white;
    color:rgb(255, 240, 235);
    font-size: 1.6vw;
    text-shadow: 0.01em 0.05em 0.6em #ff6600;
    position: relative;
}

.basket-content .rocket {
    position: absolute;
    height: 13.1vw;
    width:13.1vw;
    background-image: url(./static/art/rocket4.svg);
    transform: rotate(45deg);
    top:-2.0vw;
    left:76%;
    position: absolute;
    background-size: 50%;
    background-repeat: no-repeat;
    animation: loading-pulse 5.7s ease-in-out infinite;
    transform-origin: 15% 5%;
    perspective-origin: 50% 50%;
    translate: 3d;

}

.fields {
    width:55vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3vw;
}

    .fields input {
        height: 3vw;
        padding: 2vw;
        border:none;
        background-color: rgb(255, 192, 55);
        /* background: linear-gradient(to bottom,orange, rgb(255, 192, 55)); */
        margin: 0.5vw;
        font-size:1.2vw;
        transition: all 0.25s ease-in-out;
        border-radius: 20.6vw;
        /* border:solid 1px salmon; */
    }

    .fields input::placeholder {
        color: rgb(8, 4, 46);
    }

    .fields input[type="text"] {
        background: linear-gradient(to bottom,orange 1%, rgb(255, 192, 55) 80%);
        box-shadow: 0px 2px 5px rgba(146, 81, 0, 0.65) inset, 0px 1px 1px rgba(0, 0, 0, 0.5) inset;
    }
    
    /* .fields input:nth-child(4) {
        background: linear-gradient(to top,orange 3%, rgb(255, 192, 55));
    } */

    .fields input:nth-child(1):focus, 
    .fields input:nth-child(4):focus {
        background: linear-gradient(to top,#ff9100 3%, #ff9100);

    }


        .fields input:focus {
            outline:none;
            border-bottom-width: 2px;
            background-color: #ff9100;
            font-weight: bold;
        }

    .fields input[type='submit'] {
        color:wheat;
        margin:3vw;
        border-radius: 23vw 23vw 23vw 23vw;
        /* background: url(/static/art/add.svg) no-repeat left; */
        /* background-size: 15%;
        background-position-x: 2.4vw; */
        display: flex;
        padding: 0;
        justify-content: center;
        height:7vw;
        width:60vw;
        user-select: none; 
        cursor:pointer;
        outline: none;
        position: relative;
        left:-6vw;
        overflow: hidden;
        background-color: #00000070;
        border: solid 1px orange;
        box-shadow: 1vw 0.5vw 5vw #ff6600;
        font-size: 3vw;
        font-family: 'Xolonium';
    }