.carousel {
    width:70vw;
    height:20vw;
    transform-style: preserve-3d;
    perspective-origin: 50% 0%;
    color: white;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30vw;
    margin-top:5vw;
}

    .carousel .circle {
        pointer-events: none;
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        overflow:visible;
        transform: translate3d(0px, 0px, 0px);
        transform: rotateX(90deg);
        opacity:0.5;

    }

    .carousel .items {
        position: relative;
        left:0;
        top:0;
        width:100%;
        height:100%;
        pointer-events: none;
        /* border: 1px solid magenta; */
        transform-style: preserve-3d;

    }

    .carousel .items h2{
        white-space: nowrap;
    }

        .carousel .item {
            /* pointer-events: all; */
            left: 0;
            top: 0;
            position:absolute;
            border-radius:40%;
            width:60px;
            height:60px;
            margin-left: -30px;
            margin-top: -30px;
            color:white;
            font-size:20px;
            display:flex;
            align-items:center;
            justify-content:center;

        }

        .carousel .item * {
            pointer-events: all;
        }

            .carousel .item:hover {
                /* border-color: red; */
            }

            .carousel .item > div {
                user-select: none;
            }

/* -------------------------------------------------------------- */

.salads-carousel-wrapper {
    margin-top: 13vw;
}

    .salads-carousel-wrapper h1 {
        text-align: center;
        pointer-events: none;
    }

    .carousel.salads .item {
        width:10vw;
        height:10vw;
        margin-left: -5vw;
        margin-top: -5vw;
        /* border: 1px solid red; */
        border-radius: 0;
    }

        .carousel.salads .item .pic {
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 10vw;
            width: 10vw;
            border-radius:50%;
            /* border:1px solid pink; */
        }

        .carousel.salads .item .title {
            position: absolute;
            text-align: center;
            top: 100%;
            width: 20vw;
            /* border: 1px solid green; */
        }
