.carousel {
    width:65vw;
    height:20vw;
    perspective-origin: 50% 0%;
    color: white;
    position: relative;
    margin: 0 auto;

}

    .carousel .circle {
        pointer-events: none;
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        overflow:visible;
        transform: rotateX(90deg) translate3d(0px, 0, -6vw) scale(1.2);
        fill:black;
        stroke:white;
        fill:url(#carouselRadialGradient);
        opacity: 0.5;
        stroke-width: 1.2%;

    }

    .carousel .items {
        position: relative;
        left:0;
        top:0;
        width:100%;
        height:100%;
        pointer-events: none;
        cursor:pointer;
        /* border: 1px solid magenta; */
        transform-style: preserve-3d;
        user-select: none; 

    }

    .carousel .items h2{
        white-space: nowrap;
    }

        .carousel .item {
            /* pointer-events: all; */
            left: 0;
            top: 0;
            position:absolute;
            border-radius:40%;
            width:60px;
            height:60px;
            margin-left: -30px;
            margin-top: -30px;
            color:white;
            font-size:20px;
            display:flex;
            align-items:center;
            justify-content:center;

        }

        .carousel .item * {
            pointer-events: all;
        }

            .carousel .item:hover {
                /* border-color: red; */
                transform:scale(1.5);
            }

            .carousel .item > div {
                user-select: none;
            }

/* -------------------------------------------------------------- */

.mobile .carousel {
    width:70vw;
}

.mobile .carousel .circle {

}

.carousel.salads {
    margin-bottom: 0vw;
    margin-top: 2vw;
}

.salads-carousel-wrapper {
    padding-top: 15vw;
    padding-bottom:5vw;
}

.mobile .salads-carousel-wrapper { 
    padding-top:30vw;
    padding-bottom:95vw;

}

    .salads-carousel-wrapper h1 {
        text-align: center;
        pointer-events: none;
    }

    .mobile .salads-carousel-wrapper h1 { 
        margin-bottom: 13vw;
    }

    .salads-carousel-wrapper .salad-price {
        position: absolute;
        left:41.5%;
        /* color:rgb(248, 167, 17); */
        color:wheat;
        font-size: 5vw;
        padding-top: 13vw;
        
    }

        .salads-carousel-wrapper .salad-price:after {
            content: '';
            position: absolute;
            background-image: url(./static/art/rub.svg);
            background-repeat: no-repeat;
            background-size: contain;
            height: 0.7em;
            width: 0.7em;
            top: 2.87em;
            margin-left: 0.15em;

        }

    .mobile .salads-carousel-wrapper .salad-price {
        padding-top: 49vw;
        left:44%;
    }

        .mobile .salads-carousel-wrapper .salad-price:after {
            top: 10.07em;
        }

    .salads-carousel-wrapper .salad-composition {
        color:#ffad4f;
        /* border:solid 2px #ffffff83; */
        border-radius: 5vw;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin:21vw 4vw 0vw 4vw;
        padding:0.3em;
        font-size:4.6vw;
        backdrop-filter: blur(2px);

    }

        .salads-carousel-wrapper .salad-composition li {
            padding:0.4em;
            font-size:1.3vw;

        }

        .mobile .salads-carousel-wrapper .salad-composition {
            padding:1em;
            position: absolute;
            width:100%;
            margin:56vw 0vw 0vw 0vw;
        }

            .mobile .salads-carousel-wrapper .salad-composition li {
                padding:1em;
                font-size:2.3vw;
            }

        .salads-carousel-wrapper .salad-add-button {
            position: absolute;
        }

            .mobile .salads-carousel-wrapper .salad-add-button {
                margin-top: 78vw;
                left:40%;

            }

    .carousel.salads .item {
        width:10vw;
        height:10vw;
        margin-left: -5vw;
        margin-top: -5vw;
        /* border: 1px solid red; */
        border-radius: 0;
        user-select: none; 
    }

    .mobile .carousel.salads .item {
        width:40vw;
        height:20vw;
        margin-left: -20vw;
        margin-top: -5vw;
    }

        .carousel.salads .item .pic {
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 10vw;
            width: 10vw;
            border-radius:50%;
            transform: scale(1.2);
            /* border:1px solid pink; */
        }

        .mobile .carousel.salads .item .pic {
            transform: scale(2.9);
        }

        .carousel.salads .item .title {
            position: absolute;
            text-align: center;
            top: 100%;
            width: 20vw;
            text-shadow: 0.05em 0.05em 0em rgba(0,0,0,0.4);
            /* border: 1px solid green; */
        }

        .item-composition {
            position: absolute;
            color:rgb(255, 145, 0);
            font-size: 6vw;
            bottom: -38vw;
            left:50%;
        }


@media (max-width: 500px) {
    
    body {
        overflow-x: hidden;
    }

    .carousel {
        width:75vw;
        perspective-origin: 50% -20%;
    }

    .carousel .item {
        /* pointer-events: all; */
        left: 0;
        top: 0;
        position:absolute;
        border-radius:40%;
        width:90px;
        height:90px;
        color:white;
        font-size:13px;
        display:flex;
        align-items:center;
        justify-content:center;

    }

    .carousel.salads .item {
        width:10vw;
        height:10vw;
        margin-left: -5vw;
        margin-top: -5vw;
        /* border: 1px solid red; */
        border-radius: 0;
    }

        .carousel.salads .item .pic {
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 10vw;
            width: 10vw;
            border-radius:50%;
            /* border:1px solid pink; */
        }

        .carousel.salads .item .title {
            position: absolute;
            text-align: center;
            top: 100%;
            width: 20vw;
            text-shadow: 0.05em 0.05em 0em rgba(0,0,0,0.4);
            /* border: 1px solid green; */
        }


}