.cart-item {

    --height: 5.8vw;

    display: flex;
    flex-direction: row;
    width:61vw;

    height: var(--height);
    /* border:solid 1px salmon; */
    justify-content: space-between;
    align-items:center;
    opacity: 1;

    transition: 0.5s ease-in-out;
    transition-property: opacity height top;
    /* border:solid 1px red; */
    position: relative;
}

    .mobile .cart-item {
        --height: 9.8vw;
        width:85vw;
    }

.cart-item .size-switch {
    
    --width:10.8vw;   
    margin-left:2vw; 
}

    .mobile .cart-item .size-switch {
        --width:17.8vw;   
        margin-left:8vw; 
    }

.cart-item .item-image {
    height: var(--height);
    width: var(--height);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transform:scale(1.25);
    /* border:solid 1px salmon; */
}



.cart-item .item-name {
    text-align: left;
    color:#ffffff;
    /* border:solid 1px salmon; */
    height: 3vw;
    flex: 1.7;
    padding: 0vw 3vw;
    justify-content: left;
    font-size: 2.0vw;
    padding: 0vw 0.0vw 0vw 2vw;
    width: 10vw;
    text-decoration: none;
    white-space: nowrap;
    text-shadow: 0.01em 0.05em 0.2em #472005;
}

    .mobile .cart-item .item-name {
        font-size: 2.7vw;
        padding: 0vw 0.0vw 0vw 4vw;
        flex: 2.7;
    }

.cart-item-price {
    text-decoration: none;
    text-shadow: 0.01em 0.05em 0.2em #472005;
    color:white;
    font-size: 2.0vw;
    width:5vw;
    flex: 0.5;
}

    .mobile .cart-item-price {
        margin-left: 5vw;
        font-size: 3.0vw;
    }

.cart-item .trash {
    position: relative;
    display: flex;
    height: 3.1vw;
    width: 3.1vw;
    background-image: url(./static/art/trash2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* border:solid 1px salmon; */
    right:0;
}
    .mobile .cart-item .trash {
        height: 5.1vw;
        width: 5.1vw;
    }

.cart-item-enter {
    opacity: 0;
    height: 0;
    top: 4vw;
}

.cart-item-enter-active {
    opacity: 1;
    top: 0;
    height: var(--height);
}

.cart-item-exit {
    opacity: 1;
}

.cart-item-exit-active {
    opacity: 0;
    height: 0;
}
