.cart-counter {
    height: 3vw;
    width: 3vw; 
    font-size: 1.3vw;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    background-color: #644a4b;
    color:#ffd000;
    margin-left: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#423737;
    color:#ffda95;
    position: relative;
    /* top:0.15vw; */
}

.menu .cart-counter {
    /* background-color: #ffba25; */
    color:rgb(255, 255, 255);
    border: solid 0.2vw rgb(255, 246, 246);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.7vw;
    margin-top:.9vw;
    width: 2vw;
    height: 2vw;
    overflow: hidden;
    font-size: 1.1vw;
    
}

    .menu.mobile .cart-counter {
        border: solid 0.3vw rgb(255, 246, 246);
    }

.cart-counter.two-digits,
.menu .cart-counter.two-digits {
    font-size: 1vw;
    padding-top: 0.1vw;
    padding-right: 0.2vw !important;
}

