.footer-content {
    position: relative;
    margin-top:-5vw;
    height: 57vw;
    width: 100%;
    background-image: url(./static/art/mars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-size:2vw;
    /* mask-image: linear-gradient(to bottom,transparent 0%, black 40%); */
    mask-image: linear-gradient(to bottom,transparent 0%, rgb(0, 0, 0) 33%);
    display: flex;
}

    .footer-title{
        position: relative;
        top:5vw;
        font-size: 6.6vw;
        padding: 3vw;
        z-index: 1;
        text-transform: uppercase;
        text-align: center;

    }

        .mobile .footer-title {
            position: relative;
            top:10vw;
            font-size: 10.8vw;
            padding: 3vw;
        }

    .mobile .footer-content {
        position: relative;
        height: 160vw;
        margin-top:-0vw;
        mask-image: linear-gradient(to bottom,transparent 0%, black 20%);
        background-image: none;
    }

    .mobile .footer-content:after {
        position:absolute;
        content: '';
        top:0;
        bottom: 60vw;
        left:0;
        width: 100%;
        background-image: url(./static/art/mars.jpg);
        border-radius: 0vw 0vw 14vw 14vw;
        background-size: cover;
        box-shadow: 0px 2vw 5vw rgba(0,0,0,0.8);
        /* opacity: 0.6; */
    }

.general-info {
    position: absolute;
    /* right:0vw; */
    align-items: right;
    color:black;
    color:white;
    /* border:solid red 1px; */
    bottom:0;
    right:0;
    z-index: 2;

}

    .mobile .general-info {
        /* padding-top:70vw; */
        top:22vw;
        
        left:20vw;
        
    }

    .general-info div {
        padding: 1.5vw; 
        margin: 2vw;
        padding-left: 2.0vw;
        /* display: flex; */
        border: solid 0.20vw #ffa600;
        border-radius: 2.5vw;
        /* background-color:rgba(13, 4, 46, 0.747); */
        background-color:rgba(10, 6, 29, 0.747);
    
        box-shadow: 4px 2px 9px rgb(3, 3, 61);

        /* justify-content: center; */
    }

        .mobile .general-info div {
            padding:2.3vw; 
            margin: 2.5vw;
            font-size: 3.3vw;
        }

    /* .general-info div::after {
        position: absolute;
        left:-4vw;
        top:25vw;
        content: '';
        height: 1vw;
        width:5vw;
        background-color: #ffa600;
    } */

    .general-info a {
        color:wheat;

    }

        .address {
            display: flex;
            flex-direction: row;
            position: relative;
            right:-10vw;
            width:39vw;
            border-radius: 3vw 2.5vw 7.5vw 4.5vw !important;
        }

            .address a {
                padding-left: 3.2vw;
            }

            .mobile .address {
                width:62vw;
            }
        
        .email {
            width: 45vw;
            position: relative;
            right:-7vw;
            border-radius: 11vw 11vw 22vw 20vw !important;
        }

        .email a {
            padding-left: 3vw;
            width:8vw;
        }

            .mobile .email {
                width: 58vw; 
            }

        .telephone {
            width:55vw;
            border-radius: 8vw 12vw 20vw 20vw !important;
        }
        .telephone a {
            margin-top: -2vw;
            padding-left:1.4vw;
            display: block;
            padding-left:22vw;
        }

        .telephone a.second {
            margin-top: 1vw;

        }

            .mobile .telephone {
                width:75vw;
            }

        .time {
            display: flex;
            flex-direction: column;
            width: 37vw;
            border-radius: 32vw 20vw 70vw 25vw !important;
            position: relative;
            right:-8vw;
            /* border-radius: 12vw 12vw 2vw 70vw; */

        }

            .time time{
                color:wheat;
                padding-left:0vw;
            }

                .time .weekend{
                    margin-left: 5.1vw;

                }

            .mobile .time {
                width: 62vw;
                border-radius: 27vw 20vw 70vw 25vw !important;
            }

.map {
    position: absolute;
    height: 40vw;
    width: 40vw;
    overflow: hidden;
    border-radius: 20vw 20vw 20vw 20vw;
    left:4vw;
    bottom:2vw;
    /* margin-top:16.5vw; */
    filter: invert(0.96) hue-rotate(145deg);
    /* filter: invert(0.96) hue-rotate(305deg); */
    /* filter: invert(0.96) hue-rotate(27deg); */

    /* box-shadow: -6px -0px 46px rgb(162, 0, 255); */
    /* box-shadow: -6px -0px 46px rgb(0, 102, 255); */
    box-shadow: -6px -0px 26px rgb(255, 255, 255);
}

    .mobile .map {
        border-radius: 0vw 0vw 0vw 0vw;
        left:0vw;
        height: 70vw;
        bottom:0vw;
        width: 100%;
    } 


@media (max-width: 500px) {
    
    .footer-content {
        width:100%;
    }
 }

 @media (max-width: 401px) {
    
    .footer-content {
        width:100%;

    }
 }

