.footer-content {
    height: 50vw;
    width: 100%;
    background-image: url(./static/art/mars2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-size:2vw;
    mask-image: linear-gradient(to bottom,transparent 0%, black 40%);
    display: flex;
}

.general-info {
    padding-top:12vw;
    position: absolute;
    left:2vw;
    color:black;
    color:white;

}

    .general-info div {
        padding: 1.5vw; 
        margin: 1vw;
        right:0;
        padding-left: 1.5vw;
        /* display: flex; */
        border: solid 0.3vw rgb(255, 166, 0);
        border-radius: 2.5vw;
        background-color:rgba(13, 4, 46, 0.747);
        background-color:rgba(20, 12, 51, 0.747);
        box-shadow: 4px 2px 9px rgb(3, 3, 61);
        /* justify-content: center; */
    }

    .general-info a {
        color:wheat;
    }

        .address {
            display: flex;
            flex-direction: row;
            right:0;
            width:60vw;
            border-radius: 3vw 5.5vw 2.5vw 2.5vw !important;
        }

            .address a {
                padding-left: 10.2vw;
            }
        
        .email {
            width: 55vw;
        }

        .email a {
            padding-left: 10vw;
            width:8vw;
        }

        .telephone {
            width:55vw;
        }
        .telephone a {
            padding-left:6.4vw;
        }

        .time {
            display: flex;
            flex-direction: column;
            width: 55vw;
            border-radius: 12vw 70vw 22vw 20vw !important;
            /* border-radius: 12vw 12vw 2vw 70vw; */

        }

            .time time{
                color:wheat;
                padding-left:18.4vw;
            }

                .time time span{
                    /* color:rgb(81, 255, 0); */
                    padding-left:5.1vw;
                }