* {
    backface-visibility: hidden;
}

@font-face {
    font-family:Xolonium;
    font-style:normal;
    src:url(/static/fonts/Xolonium.ttf);
}


@keyframes pulse {

    0%   {transform: scale(0.95); opacity:1.0;transform: rotate(0deg)}
    
    50%  {transform: scale(1.0);transform: rotate(180deg)}
    /* 100% {transform: scale(1.0); opacity:1.0;transform: rotate(360deg);} */
    100% {transform: scale(0.95); opacity:1.0;transform: rotate(360deg)}
}

@keyframes glass-button {
    0%   { left: -2vw;  opacity: 0.5;}
    7%   {              opacity: 1.0;}
    15%  { left: 103vw;}
    100% { left: 103vw;}
}


@keyframes radar-rotate {

    0%   { transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
}

@keyframes radar-dot {

    0%   { opacity: 1; }
    100% { opacity: 0; }
}

.pizza {
    transition: all 0.75s ease-in-out;
    transition-property:transform, opacity;
}

.app.meat .pizza:not(.meat),
.app.veg  .pizza:not(.veg),
.app.fish .pizza:not(.fish) {
    opacity: 0.0;
    transform: scale(0.5);
}

.app.mix .pizza.checked {
    /* background-image: url(/static/art/select.svg); */
    z-index: 4;
}

.app.mix .pizza.checked:after {
    content: '';
    color:#231561;
    position: absolute;
    background: url(/static/art/select.svg) center no-repeat;
    background-size: 40% 40%;
    height: 100%;
    width: 100%;
    left:0;


}

body {
    background-color:#070f17;
    /* background-image: url(/static/art/backgroundstars.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Xolonium';
    overflow-x: hidden;
}

h1 {
    color:white;
    font-size: 5vw;
}

.cosmos-zone-one-wrapper {
    background-image: url(/static/art/backgroundstars.jpg);
    /*background-repeat: no-repeat;*/
    background-size: cover;
    padding-bottom: 15vw;
}

.menu {
    width:100%;
    height:5vw;
    background-color:#433c4880;
    font-family:'Xolonium';
    font-size:1.6vw;
    display:flex; 
    justify-content: space-around;
    align-items:center;
    position:fixed;
    z-index:3;
}

    .menu a {
        padding: 0 0.1em;
        color: #fcf9f1;
        text-decoration: none;
        white-space: nowrap;
        transition:all 0.25s ease-in-out;
        /* transform: scale(1); */
    }

    .menu a:hover {
        color: #f5a623;
        transform:translate(0%, 7%) scale(1.05);
    }

    .menu a.basket {
        background-image:url(/static/art/basket.svg);
        background-size:contain;
        background-repeat:no-repeat;
        display:block;
        margin-top: 0.6%;
        height:3vw;
        width:3vw;
/*         border: 1px solid #e83a82; */
    }

.menu.mobile {
    height: 12vw;
    width: 100%;
    z-index: 200;
}

    .menu.mobile a {
        color: orange;
    }

    .menu.mobile a.basket {
        background-image:url(/static/art/basket.svg);
        background-size:contain;
        background-repeat:no-repeat;
        display:block;
        margin-top: 0.6vw;
        height:8vw;
        width:8vw;

    }

    .menu.mobile a.meat {
        background-image:url(/static/art/meat.svg);
        background-size:contain;
        background-repeat:no-repeat;
        display:block;
        margin-top: 5.0vw;
        height:12vw;
        width:12vw;

    }

    .menu.mobile a.broccoli {
        background-image:url(/static/art/broccoli.svg);
        background-size:contain;
        background-repeat:no-repeat;
        display:block;
        margin-top: 0.6vw;
        height:8vw;
        width:9vw;
    }

    .menu.mobile a.fish {
        background-image:url(/static/art/fish.svg);
        background-size:contain;
        background-repeat:no-repeat;
        display:block;
        margin-top: 4.6vw;
        height:11vw;
        width:11vw;
    }

    .menu.mobile a.hamburger-menu {
        background-image:url(/static/art/hamburger-menu.svg);
        background-size:contain;
        background-repeat:no-repeat;
        display:block;
        margin-top: 0.6vw;
        height:7vw;
        width:7vw;
    }

    .menu.mobile a.mix {
        background-image:url(/static/art/mix.svg);
        background-size:contain;
        background-repeat:no-repeat;
        display:block;
        margin-top: 12.6vw;
        height:19vw;
        width:19vw;
    }



.terminal {
    display:flex;
    justify-content:center;
    padding-top:10%;
    position:relative;
    /* border: 1px solid #e83a82; */
    padding-bottom: 0.8em;
}

    .terminal svg {
        overflow:visible;
        width:26vw;
    }

    #vegButton {
        transform-origin: 45px 23px;
    }

    #meatButton {
        transform-origin: 45px 23px;
    }
    
    #fishButton {
        transform-origin: 45px 23px;
    }

    #mixButton {
        transform-origin: 65px 7px;
    }

    #meatButton, #vegButton, #fishButton, #mixButton {
        cursor:pointer;
        transition:all 0.25s ease-in-out;

    }

    #meatButton:hover, #vegButton:hover, #fishButton:hover, #mixButton:hover {
        transform:scale(1.1);
        transition:all 0.25s ease-in-out;
    }

    #meatButton:hover > *, #fishButton:hover > *, #vegButton:hover > *, #mixButton:hover > * {
        transition:all 0.25s ease-in-out;
    }

    #meatButton:hover *,
    .app.meat #meatButton * {
        stroke: coral;
        fill:coral;
    }

    .app.meat #meatButton > rect {
        fill-opacity: 0.2;
    }

    #vegButton:hover *,
    .app.veg #vegButton * {
        stroke:#009688;
        fill:#009688;
    }

    .app.veg #vegButton > rect {
        fill-opacity: 0.2;
    }

    #fishButton:hover *,
    .app.fish #fishButton * {
        stroke: #65619e;
        fill:#65619e;
    }

    .app.fish #fishButton > rect {
        fill-opacity: 0.2;
    }

    #mixButton:hover > *,
    .app.mix #mixButton > * {
        stroke: #f5a623;
        fill:#f5a623;
    }

    .app.mix #mixButton > rect {
        fill-opacity: 0.25;
    }

    #mixButton:hover text {
        stroke:none;
    }

.delivery {
    /*         background-image:url(./art/delivery.svg); */
            background-repeat:no-repeat;
            position:fixed;
            height:6.6vh;
            width:6.6vw;
            bottom:5vw;
            right:2vw;
            z-index:1;
            display:flex;
    /*         border: 1px solid #e83a82; */
        }
    
        #radar-rotor {
        
            animation: radar-rotate 1s linear infinite;
            transform-origin: center;
        }
    
        #radar-dot-5 {
    
            opacity:0;
            animation: radar-dot 1s linear infinite;
            animation-delay: 0.370s; 
        }
    
        #radar-dot-4 {
            opacity:0;
            animation: radar-dot 1s linear infinite;
            animation-delay: 0.155s; 
        }
    
        #radar-dot-3 {
            opacity:0;
            animation: radar-dot 1s linear infinite;
            animation-delay: 0.855s; 
        }
    
        #radar-dot-2 {
            opacity:0;
            animation: radar-dot 1s linear infinite;
            animation-delay: 0.72s; 
        }
    
        #radar-dot-1 {
            opacity:0;
            animation: radar-dot 1s linear infinite;
            animation-delay: 0.60s; 
        }

.pizzas {
    position: relative;
    /* border:4px solid magenta; */
    height: 78vw;
    pointer-events:none;
    
}

.app.desktop .pizzas {
    margin-top:-28vw;
}

    .pizza {
        pointer-events:all;
        color:#f5a623;
        background-size:cover;
        position:absolute;
        left:0;
        top:0;
        /* animation: pulse 18s linear infinite; */

    }

        .pizza img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
            /* background-size: */
            /* margin: 30px 50px; */
            /* border: solid 2px red; */
            animation: pulse 38s linear infinite;
        }

        .pizza h1 {
            color:#fff1f1;
            /* border: solid 2px red; */
            position: absolute;
            right: 23%;   
            top:0%;
            z-index: 2;
        }

        .pizza h2 {
            position: absolute;
            right: 0%;
            top:-9%;
        }

.pizza-overlay:not(.visible) {
    display: none;
}

.pizza-overlay {
    display: flex;
    align-items: stretch;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height:100%;
    background-image: url(/static/art/backgroundstars.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    overflow-x: hidden;

}

.pizza-overlay.mobile {

}

    .pizza-choose-panel {
        display: flex;
        flex:0.65;

        background-color: #ffd209;
        background-color: #f5a623;
        flex-direction: column;
        height: 100%;
        font-size: 4%;
        border-radius: 0vw 5vw 5vw 0vw;
    }

    .pizza-choose-panel button {    /* CLOSE BUTTON*/
        width:15%;
        padding:2vw 3vw;
        border-radius: 0vw 0vw 19vw 0vw;
        background-color: #000000;
        color:#f5a623;

    }

        .pizza-list {
            /* white-space:nowrap; */
            margin-top:1em;
            font-size:1.8vh;
            /* border: 1px solid blue; */
            height:100%;
            overflow-y:hidden;
        }

            .pizza-list li {
                /* border: 1px solid red; */
                display:flex;
                align-items:center;
                padding-left: 1em;
                color:rgb(0, 0, 0);
            }

    .pizza-info-panel {
        /* overflow-y: auto; */
        display: flex;
        flex:2.5;
        flex-direction: column;
        /* background-image: url(/static/art/backgroundstars.jpg); */
        background-size:cover;
        background-repeat:no-repeat;
        padding: 0vw;
        overflow-x:hidden;
    }

        .pizza-info {
            padding: 3vw;
            color:white;
            display:flex;
            /* border:2px solid red; */
        }

            .pizza-info .right-side {
                display: flex;
                flex-direction: column;
                margin-left: 5vw;
                flex:1;
                justify-content: center;
                /* border:2px solid red; */
            }

                .pizza-info .right-side .name {
                    color:#ff9100;
                    font-size:4vw;
                    line-height: 0.9em;
                    /* border:1px solid red; */
                }

                

                .pizza-info .right-side .size {
                    background-size: cover;
                    margin: 3vw 0vw;
                    /* border:solid 2px pink; */
                }

                .pizza-info .right-side .price {
                    color:#ffd000;
                    color:wheat;
                    font-size:3vw;
                    /* border:1px solid red; */
                    position: relative;
                }

                .pizza-info .price:after {
                    content: '';
                    position:absolute;
                    background-image: url(/static/art/rub.svg);
                    background-repeat: no-repeat;
                    background-size:contain;
                    height: 0.7em;
                    width: 0.7em;
                    top:0.3em;
                    margin-left: 0.15em;
                }

                .pizza-info .right-side ul {
                    color:#fcfcfc;
                    /* border:2px solid yellow; */
                    padding:1em 0em;
                    list-style-type: disc;
                    font-size:2.5vw;
                    color: white;
                    /* margin-left: 2.8vw; */
                }

                .pizza-info .right-side li {
                    list-style: none;
                    position: relative;
                }

                .pizza-info .right-side li:before {
                    content: "•";
                    position: absolute;
                    left:-2vw;
                    top:0.33vw;
                    opacity: 0.7;
                }

                .pizza-info .right-side button {
                    border-radius: 23vw 23vw 23vw 23vw;
                    /* padding: 3em; */
                    background: url(/static/art/add.svg) no-repeat left;
                    background-size: 15%;
                    background-position-x: 2.4vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height:9vw;
                    width:27vw;
                    padding-left:5vw;
                    user-select: none; 
                    outline: none;
                    position: relative;
                    overflow: hidden;
                    background-color: #00000070;
                    border: solid 1px orange;
                    left:-1.5vw;
                    /* left:-3.2vw; */
                    box-shadow: 1vw 0.5vw 5vw rgb(255, 102, 0);
                }

                .pizza-info .right-side button span{
                    color:wheat;
                    position:relative;
                    top:0.12vw;
                    left: 0.4vw;
                    font-size: 2.2vw;
                    font-family: Xolonium;
                }

                .pizza-info .right-side button .highlight {
                    background-color: #fcf9f1;
                    opacity: 0.5;
                    height: 12vw;
                    top:-2vw;
                    width:1vw;
                    transform: rotate(13deg);
                    position: absolute;
                    animation: glass-button 7s linear 0s infinite;
                }



                .pizza-info .right-side button .highlight2 {
                    background-color: #fcf9f1;
                    opacity: 0.5;
                    height: 12vw;
                    top:-2vw;
                    left:3vw;
                    width:2vw;
                    transform: rotate(13deg);
                    position: absolute;
                    animation: glass-button 7s linear .04s infinite;
                }


            .pizza-info .left-side {
                display: flex;
                /* align-items: center; */
            }

                .pizza-info .left-side .pizza-image {
                    height: 40vw;
                    width: 40vw;
                    background-size: cover;
                    background-position: center;
                    background-repeat:no-repeat;
                    border-radius: 50%;
                    user-select: none; 
                    /* border: 2px solid red; */
                }



.pizza-button {
    --height: 5.5vw;
    display: flex;
    height: var(--height);
    width: 100%;
    background-position: center;
    background-image: url(/static/art/buy.svg);
    background-repeat: no-repeat; 
    background-size:cover;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 4;
    opacity: 1;
    overflow-y: hidden;
    color:white;
    transition: all 0.25s ease-in-out;
    transition-property: bottom, opacity;
}

.pizza-button .hint {
    left:0;
    top:15%;
    right:0;
    bottom:0;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
}

.cosmos-zone-two-wrapper {
    margin-top:-20vh;
    background-image: url(/static/art/backgroundstars5.jpg);
    background-repeat: no-repeat;
    background-size: contain;


    /* background-size: 100% 100%; */
    background-repeat:no-repeat;
    -webkit-mask-image: linear-gradient(to bottom,transparent 0%, black 13%);
    mask-image: linear-gradient(to bottom, transparent, black);
}

    .salads {
        position: relative;
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: row;
        /*background-color: #f5a623;*/
    }





/*---------------------------------------------------------------------------------------------------------------------------*/


@media (max-width: 1080px) {

    body {
        /* background-color: #e7f523; */
    }

    .menu {
        font-size:1.7vw;
    }

    .terminal {
        padding-top:9vw;
        
    }

    .terminal svg {
        width:27vw;

    }

    .app.desktop .pizzas {
        margin-top:-28vw;
    }
}


@media (max-width: 850px) {

    body {
        /* background-color: #9723f5; */
    }

    .menu {
        font-size:1.8vw;
    }

    .terminal {
        padding-top:10vw;
        
    }

    .terminal svg {
        width:25vw;
    }

    .app.desktop .pizzas {
        margin-top:-27vw;
    }
}


@media (max-width: 780px) {

    body {
        /* background-color: #23f5d9; */
    }

    .menu {
        font-size:1.86vw;
    }

    .terminal {
        padding-top:10vw;  
    }

    .terminal svg {
        width:25vw;
    }
}


@media (max-width: 500px) {  /*@media (max-width: 690px) {*/

    .pizzas {
        height: 100vw;
        pointer-events:none;
        
    }

    .terminal {
        opacity:0.9;
    }

    .cosmos-zone-one-wrapper {
        padding-bottom:60vw;
        margin-bottom: 60vw;
        background-image:url(/static/art/backgroundstars-vertical.jpg);
        background-size: contain;
        height: 195vw;
    }
}


@media (max-width: 401px) {
    
    .pizzas {
        /* height: 250vw; */
        margin-bottom: 20vw;
        
    }

    .cosmos-zone-one-wrapper {
        height: 195vw;
    }

    .cosmos-zone-two-wrapper {
        margin-top: -10vw;
        margin-bottom:20vw;
    }
    
    .terminal {
        opacity:1;
    }

    body {
        background-color: rgb(14, 5, 54);
        overflow-x: hidden;
    }
}

.app.mobile {

}