@keyframes rotate {
    0%   { transform:rotate(var(--rotate-offset));}
    100% { transform:rotate(calc(var(--rotate-offset) + 360deg));}
}

.noodles-wrapper {
    width: 100%;
    position: relative;
    /* background-color: pink; */
}


.noodles-wrapper h1 {
    text-align: center;
    margin: 8vw 10vw;
}

    .noodles{
        height: 70vw;
        width: 100%;
        /* background-image: url(/static/art/mars.jpg); */
        background-color: #05000e;
        background-size: 100% 100%;
        background-repeat:no-repeat;
        position: relative;
        /* mask-image: linear-gradient(to bottom,transparent 0%, black 40%); */
    }

    .noodles svg {
        width:100%;
    } 

.pasta-item {
    position: absolute;  
    --rotate-offset: 0deg;
    --rotate-direction: 'normal';
}

    .pasta-item h2{
        color:rgb(255, 79, 108);
        font-size:3vw;
        position: absolute;
        z-index:3;
    }

    .pasta-item.active {
        box-shadow: 1vw 0.5vw 5vw rgb(255, 102, 0);
    }

    .pasta-item .background {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scale(1.04);
        opacity: 1;
        mask-image: url(/static/art/hexagon.svg);
        mask-mode: alpha;
        mask-repeat: no-repeat;
        mask-size: 100%;
        mask-position: center;
        position: absolute;
        overflow: hidden;
    }

    .pasta-item .background:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scale(1.04);
        /* background: conic-gradient(#ff9100, white 90%); */
        /* background: conic-gradient(#ffa704, rgb(15, 10, 3) 99%); */
        /* background: conic-gradient(#0f0a03 12%,#ffa704 40%, #0f0a03 99%); */
        background: conic-gradient(#0f0a03 12%,#ff9b04 40%, #0f0a03 99%);
        animation:rotate 5.8s linear infinite;
        animation-direction: var(--rotate-direction);
    }

    .pasta-item.decoration .background:after {
        background: none;
    }

    .pasta-item .foreground {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        mask-image: url(/static/art/hexagon.svg);
        mask-mode: alpha;
        mask-repeat: no-repeat;
        mask-size: 100%;
        mask-position: center;
        position: absolute;
    }

    .pasta-item.interactive .info {
        height: 4vw;
        width: 23vw;
        position: absolute;
        background-size:contain;
        background-repeat: no-repeat;
    }
