@keyframes rotate {
    0%   { transform:rotate(var(--rotate-offset));}
    100% { transform:rotate(calc(var(--rotate-offset) + 360deg));}
}

.noodles-wrapper {
    margin-top: -10vw;
    padding-top: 8vw;
    width: 100%;
    height: 70vw;
    position: relative;
    background-image: url(/static/art/tumannost8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    position: relative;
    mask-image: linear-gradient(to bottom,transparent 0%, black 15%);
    /* background-color: pink; */
}

    .mobile .noodles-wrapper {
        padding-top:20vw;
        height: 200vw;
        position: relative;
        background-image: url(/static/art/tumannost8vertical.jpg);

        
    }

    .noodles-container {
        margin-top:-10vw;
        position: relative;
    }

        .mobile .noodles-container {
            position: relative;
            margin-top: 0vw;
            height: 110vw;
        }

.noodles-wrapper h1 {
    text-align: center;
    padding-bottom: 7vw;
    /* margin: 8vw 10vw; */
    /* margin-bottom: 100vw; */
}

    .mobile .noodles-wrapper h1 {
        font-size: 7.8vw;
        margin-bottom:9vw;
        padding: 3vw;

    }

    .noodles{
        height: 30vw;
        width: 100%;
        background-color: #05000e;
        background-size: 80% 60%;
        /* background-size: contain; */
        background-repeat:no-repeat;
        position: relative;
        /* mask-image: linear-gradient(to bottom,transparent 0%, black 40%); */
    }


    .noodles svg {
        width:100%;

    } 

.pasta-item {
    position: absolute;  
    cursor:pointer;
    --rotate-offset: 0deg;
    --rotate-direction: 'normal';
    /* transform:scale(1.0); */
    border-radius: 2vw;
    /* border: solid 1px salmon; */
}

    .pasta-item:nth-child(even) {
        /* box-shadow: 1vw 0.5vw 5vw #0e0702; */
        
    }

    .mobile .pasta-item {
        --rotate-offset: 200deg;
        --rotate-direction: 'normal';
        transform:rotate(90deg);
    }

    .pasta-item h2{
        color:rgb(255, 79, 108);
        font-size:3vw;
        position: absolute;
        z-index:3;
    }

    .pasta-item.active {
        box-shadow: 1vw 0.5vw 5vw #ff6600;
    }

    .pasta-item .background {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scale(1.04);
        opacity: 1;
        mask-image: url(/static/art/hexagon.svg);
        mask-mode: alpha;
        mask-repeat: no-repeat;
        mask-size: 100%;
        mask-position: center;
        position: absolute;
        overflow: hidden;
    
    }

    .pasta-item .background:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scale(1.04);
        /* background: conic-gradient(#ff9100, white 90%); */
        /* background: conic-gradient(#ffa704, rgb(15, 10, 3) 99%); */
        /* background: conic-gradient(#0f0a03 12%,#ffa704 40%, #0f0a03 99%); */
        background: conic-gradient(#0f0a03 12%,#ff9b04 40%, #0f0a03 99%);
        animation:rotate 5.8s linear infinite;
        animation-direction: var(--rotate-direction);
    }

    .pasta-item.decoration {
        cursor: default;
    }

    .pasta-item.decoration .background:after {
        background: none;
    }

    .pasta-item .foreground {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: 160%;
        background-repeat: no-repeat;
        background-position: center;
        mask-image: url(/static/art/hexagon.svg); 
        mask-mode: alpha;
        mask-repeat: no-repeat;
        mask-size: 100%;
        mask-position: center;
        position: absolute;
    }

    .pasta-item.interactive .info {
        height: 4vw;
        width: 23vw;
        position: absolute;
        background-size:contain;
        background-repeat: no-repeat;
    }

    .mobile .pasta-item.interactive .info {
        transform: rotate(270deg);
        height: 9vw;
        width: 26vw;
    }