.noodles-wrapper {
    width: 100%;
}


.noodles-wrapper h1 {
    text-align: center;
}

    .noodles{
        height: 40vw;
        width: 100%;
        background-image: url(/static/art/mars.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
        -webkit-mask-image: linear-gradient(to bottom,transparent 0%, black 40%);
        mask-image: linear-gradient(to bottom, transparent, black);
    }