/* @keyframes list-appear {
    0%   { opacity: 0;    top: -40%; }
    50%  { opacity: 0.0;               }
    80%  { opacity: 0.3;               }
    100% { opacity: 1;    top: 100%; }
} */


@keyframes glass-button {
    0%   { left: -17vw;  opacity: 0.5;}
    7%   {              opacity: 1.0;}
    15%  { left: 103vw;}
    100% { left: 103vw;}
}

/* .product-overlay {
    display: flex;
    align-items: stretch;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height:100%;
    background-image: url(/static/art/overlay-gradient.svg), url(/static/art/backgroundstars.jpg),;
    background-repeat: no-repeat;
    background-size:cover;
    overflow-x: hidden;
} */

.overlay-menu {
    display: flex;
    height: 6vw;
    width: 100%;
    position: fixed;
    /* background:linear-gradient(to right, #644b4b, #f5a30b 14.04%); */
    background:linear-gradient(to right, transparent 10%, #ff6600 100%);
    color:#644b4b;
    z-index: 2;
}

 .overlay-menu * {
    cursor: pointer;
    display: flex;
    /* border:solid 1px pink; */
    /* height: 100%; */
    align-items:center;
    width: 25vw;
    padding: 0vw 0vw 0vw 0vw;
    /* border:solid 1px red; */
    justify-content: center;
    white-space: nowrap;
    font-size: 1.8vw;
    z-index: 100;
    user-select: none;
 }

    

.product-overlay {
    z-index: 0;
}

.product-overlay.mobile {

}

    .product-choose-panel {
        display: flex;
        flex:0.65;
        /* background-color: #ffd209;
        background-color: #f5a623; */
        background:linear-gradient(to left, #644b4b, #f5a30b);
        background:linear-gradient(to left, #f5a30b, #644b4b);
        flex-direction: column;
        height: 100%;
        font-size: 4%;
        border-radius: 0vw 0vw 0vw 0vw;
        padding-top:8vw;
        position: relative;
    }

        .product-choose-panel:before {
            content: '';
            position: absolute;
            width:3vw;
            height:3vw;
            /* background-image: url(/static/art/choose-panel-before.svg); */
            background-size: cover;
            background-repeat: no-repeat;
            top:5.89vw;
            left:99.2%;
            z-index: 0;
        }

        .product-choose-panel:after {
            position: absolute;
            top:0;
            left:13.4vw;
            content: '';
            width:90vw;
            height: 6vw;
            z-index: -1;
            background-color: #f3a310;
        }

        .product-list {
            /* white-space:nowrap; */
            margin-top:1em;
            font-size:1.4vw;
            /* border: 1px solid blue; */
            height:100%;
            overflow-y:hidden;
        }

            .product-list li {
                /* border: 1px solid red; */
                display:flex;
                align-items:center;
                padding-left: 1em;
                /* padding-right: 0.5em; */
                color:rgb(0, 0, 0);
                color:#fff0c7;
            }

    .product-info-panel {
        /* overflow-y: auto; */
        display: flex;
        margin-top:6vw;
        flex:2.5;
        flex-direction: column;
        background-image: url(/static/art/backgroundstars.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        padding: 0vw;
        overflow-x:hidden;
    }

        .product-info {
            padding: 3vw;
            color:white;
            display:flex;
            /* border:2px solid red; */
        }

            .product-info .right-side {
                display: flex;
                flex-direction: column;
                margin-left: 5vw;
                flex:1;
                justify-content: center;
                /* border:2px solid red; */
            }

                .product-info .right-side .name {
                    color:#ff9100;
                    font-size:4vw;
                    line-height: 0.9em;
                    white-space: normal;
                    padding-bottom: 0.5em;
                    /* border:1px solid red; */
                }

                

                .product-info .right-side .size {
                    background-size: cover;
                    margin: -1vw 0vw 1vw 0vw;
                    /* border:solid 2px pink; */
                }

                .product-info .right-side .price {
                    color:#ffd000;
                    color:wheat;
                    font-size:3vw;
                    /* border:1px solid red; */
                    position: relative;
                }

                .product-info .price:after {
                    content: '';
                    position:absolute;
                    background-image: url(/static/art/rub.svg);
                    background-repeat: no-repeat;
                    background-size:contain;
                    height: 0.7em;
                    width: 0.7em;
                    top:0.3em;
                    margin-left: 0.15em;
                }

                .product-info .right-side ul {
                    color:#fcfcfc;
                    /* border:2px solid yellow; */
                    padding:1em 0em;
                    list-style-type: disc;
                    font-size:2.2vw;
                    color: white;
                    /* margin-left: 2.8vw; */
                }

                .product-info .right-side li {
                    list-style: none;
                    position: relative;
                }

                .product-info .right-side li:before {
                    content: "•";
                    position: absolute;
                    left:-2vw;
                    top:0.33vw;
                    opacity: 0.7;
                }

                .product-info .right-side button {
                    border-radius: 23vw 23vw 23vw 23vw;
                    /* padding: 3em; */
                    background: url(/static/art/add.svg) no-repeat left;
                    background-size: 15%;
                    background-position-x: 2.4vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height:9vw;
                    width:27vw;
                    padding-left:5vw;
                    user-select: none; 
                    cursor:pointer;
                    outline: none;
                    position: relative;
                    overflow: hidden;
                    background-color: #00000070;
                    border: solid 1px orange;
                    left:-1.5vw;
                    /* left:-3.2vw; */
                    box-shadow: 1vw 0.5vw 5vw rgb(255, 102, 0);
                    
                }

                .product-info .right-side button span{
                    color:wheat;
                    position:relative;
                    top:0.12vw;
                    left: 0.4vw;
                    font-size: 2.2vw;
                    font-family: Xolonium;
                }

                .product-info .right-side button .highlight {
                    background-color: #fcf9f1;
                    opacity: 0.5;
                    height: 12vw;
                    top:-2vw;
                    width:1vw;
                    left:-13vw;
                    transform: rotate(13deg);
                    position: absolute;
                    animation: glass-button 6s linear 0s infinite;
                }



                .product-info .right-side button .highlight2 {
                    background-color: #fcf9f1;
                    opacity: 0.5;
                    height: 12vw;
                    top:-2vw;
                    left:-13vw;
                    width:2vw;
                    transform: rotate(13deg);
                    position: absolute;
                    animation: glass-button 6s linear .04s infinite;

                }


            .product-info .left-side {
                display: flex;
                /* align-items: center; */
            }

                .product-info .left-side .product-image {
                    height: 40vw;
                    width: 40vw;
                    background-size: cover;
                    background-position: center;
                    background-repeat:no-repeat;
                    border-radius: 50%;
                    user-select: none; 
                    /* border: 2px solid red; */
                }



.product-button {
    --height: 5.5vw;
    display: flex;
    height: var(--height);
    width: 100%;
    background-position: center;
    background-image: url(/static/art/buy.svg);
    background-repeat: no-repeat; 
    background-size:cover;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 4;
    opacity: 1;
    overflow-y: hidden;
    color:white;
    transition: all 0.25s ease-in-out;
    transition-property: bottom, opacity;
}

.product-button .hint {
    left:0;
    top:15%;
    right:0;
    bottom:0;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
}

.choose-type {
    --color-left: #f4990c;
    --color-right: #f8870b;
}

.choose-taste {
    --color-left: #f8870b;
    --color-right: #fb7604;
}
