.carousel {
    width:50vw;
    height:20vw;
    perspective-origin: 50% 0%;
    color: white;
    position: relative;
    margin: 0 auto;

}

    .carousel .circle {
        pointer-events: none;
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        overflow:visible;
        transform: rotateX(90deg) translate3d(0px, 0, -6vw) scale(1.2);
        fill:black;
        stroke:white;
        fill:url(#carouselRadialGradient);
        opacity: 0.5;
        stroke-width: 1.2%;

    }

    .carousel .items {
        position: relative;
        left:0;
        top:0;
        width:100%;
        height:100%;
        pointer-events: none;
        cursor:pointer;
        /* border: 1px solid magenta; */
        transform-style: preserve-3d;
        user-select: none; 

    }

    .carousel .items h2{
        white-space: nowrap;
    }

        .carousel .item {
            /* pointer-events: all; */
            left: 0;
            top: 0;
            position:absolute;
            border-radius:40%;
            width:60px;
            height:60px;
            margin-left: -30px;
            margin-top: -30px;
            color:white;
            font-size:20px;
            display:flex;
            align-items:center;
            justify-content:center;

        }

        .carousel .item * {
            pointer-events: all;
        }

            .carousel .item:hover {
                /* border-color: red; */
                transform:scale(1.5);
            }

            .carousel .item > div {
                user-select: none;
            }

/* -------------------------------------------------------------- */

.mobile .carousel {
    width:70vw;
}


.carousel.salads {
    margin-bottom: 0vw;
    margin-top: 2vw;
}

.salads-carousel-wrapper {
    position: relative;
    padding-top: 15vw;
    padding-bottom:20vw;
}

.mobile .salads-carousel-wrapper { 
    padding-top:30vw;
    padding-bottom:102vw;

}

    .salads-carousel-wrapper h1 {
        text-align: center;
        pointer-events: none;
    }

    .mobile .salads-carousel-wrapper h1 { 
        margin-bottom: 13vw;
    }

    .salads-carousel-wrapper .salad-price {
        position: relative;
        left:44vw;
        top:9.0vw;
        padding:2vw;
        border-radius: 0vw 0vw 6vw 6vw;
        /* color:rgb(248, 167, 17); */
        color:wheat;
        font-size: 1.2vw;
        backdrop-filter: blur(6px);
        width:10vw;
        text-align: center;
        border:solid 1px rgba(255, 255, 255, 0.37);
        border-top:none;
        z-index:-1;
        /* padding-top: 13vw; */

        
    }

        .salads-carousel-wrapper .salad-price:after {
            content: '';
            position: absolute;
            background-image: url(/static/art/rub.svg);
            background-repeat: no-repeat;
            background-size: contain;
            height: 1.2vw;
            width: 1.2vw;
            top: 2.2vw; 
            margin-left: 0.15em;
            

        }

    .mobile .salads-carousel-wrapper .salad-price {
        /* padding-top: 49vw; */
        top:50vw;
        left:38vw;
        position: relative;
    }

        .mobile .salads-carousel-wrapper .salad-price:after {
            top: 3vw;
            position: absolute;
        }

    .salads-carousel-wrapper .salad-composition {
        color:#ffad4f;
        border:solid 1px #ffffff27;
        border-radius: 3vw;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin:12vw 3vw 0vw 3vw;
        padding:0.4em;
        font-size:4.6vw;
        backdrop-filter: blur(3px);
        /* background-color: rgba(0, 0, 0, 0.336); */

    }

        .salads-carousel-wrapper .salad-composition li {
            padding:0.4em;
            font-size:1.3vw;

        }

        .mobile .salads-carousel-wrapper .salad-composition {
            padding:0.9em;
            margin: 0;
            position: absolute;
            /* width:100%; */
            bottom:27vw;
        }

            .mobile .salads-carousel-wrapper .salad-composition li {
                padding:1em;
                font-size:2.3vw;
            }

        .salads-carousel-wrapper .salad-add-button {
            position: absolute;
            height: 7vw;
            width:23vw;
            left:40.0%;
            margin-top: 2vw;
        }

            .mobile .salads-carousel-wrapper .salad-add-button {
                position: absolute;
                bottom: 9vw;
                /* margin-top: 82vw; */
                left:36%;
                height: 12vw;
                width:35vw;

            }

                .mobile .salads-carousel-wrapper .salad-add-button .adding-button span{
                    font-size: 2.8vw;
                }

                    .mobile .salads-carousel-wrapper .salad-add-button .highlight,
                    .mobile .salads-carousel-wrapper .salad-add-button .highlight2 {
                        height: 17vw;
                    }

    .carousel.salads .item {
        width:10vw;
        height:10vw;
        margin-left: -5vw;
        margin-top: -5vw;
        /* border: 1px solid red; */
        border-radius: 0;
        user-select: none; 
    }

    .mobile .carousel.salads .item {
        width:40vw;
        height:20vw;
        margin-left: -20vw;
        margin-top: -5vw;
    }

        .carousel.salads .item .container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .carousel.salads .item .product-image {
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 10vw;
            width: 10vw;
            border-radius:50%;
            transform: scale(1.2);
            /* border:1px solid pink; */
        }

        .mobile .carousel.salads .item .product-image {
            transform: scale(2.9);
        }

        .carousel.salads .item .title {
            position: absolute;
            text-align: center;
            top: 100%;
            width: 20vw;
            text-shadow: 0.05em 0.05em 0em rgba(0,0,0,0.4);
            /* white-space: nowrap; */
            /* border: 1px solid green; */
        }

            .carousel.salads .item .price {
                /* position: absolute;
                text-align: center;
                top: 115%;
                width: 20vw; */
                position: absolute;
                margin-left: 0.8em;
                font-size: 60%;
                color:orange;
                /* color:#ffffff; */
                text-shadow: 0.05em 0.05em 0em rgba(0,0,0,0.4);
                /* border: 1px solid green; */
            }

        .item-composition {
            position: absolute;
            color:rgb(255, 145, 0);
            font-size: 6vw;
            bottom: -38vw;
            left:50%;
        }



@media (max-width:850px){
    .salads-carousel-wrapper .salad-composition {
        margin:14vw 3vw 0vw 3vw;
    }
}


@media (max-width:630px){
    
    .salads-carousel-wrapper .salad-composition {
        margin:16vw 3vw 0vw 3vw;
    }

    .carousel.salads .items .title {
        font-size: 3vw;
    }
}

@media (max-width:530px){
    .salads-carousel-wrapper .salad-composition {
        margin:17vw 3vw 0vw 3vw;
        
    }

    .carousel.salads .items .title {
        font-size: 3vw;
    }

    .cosmos-zone-one-wrapper {
        padding-bottom:7vw;
    }

}

@media (max-width: 500px) {
    
    body {
        overflow-x: hidden;
    }

    .carousel {
        width:75vw;
        perspective-origin: 50% -20%;
    }

    .carousel .item {
        /* pointer-events: all; */
        left: 0;
        top: 0;
        position:absolute;
        border-radius:40%;
        width:90px;
        height:90px;
        color:white;
        font-size:13px;
        display:flex;
        align-items:center;
        justify-content:center;

    }

    .carousel.salads .item {
        width:10vw;
        height:10vw;
        margin-left: -5vw;
        margin-top: -5vw;
        /* border: 1px solid red; */
        border-radius: 0;
    }

        .carousel.salads .item .product-image {
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 10vw;
            width: 10vw;
            border-radius:50%;
            /* border:1px solid pink; */
        }

        .carousel.salads .item .title {
            position: absolute;
            text-align: center;
            top: 100%;
            width: 35vw;
            text-shadow: 0.05em 0.05em 0em rgba(0,0,0,0.4);
            /* border: 1px solid green; */
        }

        .cosmos-zone-one-wrapper {
            padding-top:10vw;
        }
}