/* @keyframes loading-pulse {
    0%   {transform: translateX(-180vh);}
    50%  {transform: translateX(8.5vh);} 
    100% {transform: translateX(120vh);} 
} */

@keyframes rocket-appear {
    0%   {transform: translateX(-105vw);}
    50%  {transform: translateX(4vw);} 
    100% {transform: translateX(100vw);} 
}

@keyframes loading-pulse {
    0%   {opacity: 1;}
    50%  {opacity: 0.5;} 
    100% {opacity: 1;} 
}

@keyframes glass-button {
    0%   { left: -17vw;  opacity: 0.5;}
    7%   {              opacity: 1.0;}
    15%  { left: 103vw;}
    100% { left: 103vw;}
}

.cart-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-position: fixed;
    /* background-image: url(/static/art/background.stars.jpg); */
    background-image:url(/static/art/background.planety.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden;
    --margin: 6vw;
}

    .mobile .cart-content {
        background-position-x: 40%;

    }

    .cart-content span {
        text-decoration: underline;
        cursor: pointer;  
    }

    .cart-content h1 {
        font-size:3.5vw;
        line-height: 1.2em;
        text-shadow: 0.01em 0.05em 0.6em #ff6600;
        padding: 0;
        padding-top: 5vw;
        margin-top: var(--margin);
    }

        .mobile .cart-content h1 {
            padding-top: 14vw;
            font-size: 4.25vw;
        }

    .cart-content .inner {
        width: 61vw;
        padding-bottom: 10vw;
    }

        .mobile .cart-content .inner {
            width: 85vw;
        }

        .cart-content h1,
        .target,
        .random {
            color:rgb(255, 240, 235);
            /* text-shadow: 0.01em 0.05em 0.6em #ff6600; */
            position: relative;
        }

        .cart-content .rocket {
            position: absolute;
            height: 13.1vw;
            width:13.1vw;
            background-image: url(/static/art/rocket4.svg);
            transform: rotate(45deg);
            top:-5.51vw;
            left:76%;
            position: absolute;
            background-size: 50%;
            background-repeat: no-repeat;
            animation: rocket-appear 5.7s ease-in-out infinite;
            transform-origin: 15% 5%;
            perspective-origin: 50% 50%;
            translate: 3d;
        }

            .mobile .cart-content .rocket {
                height: 20.1vw;
                width:20.1vw;
                top:-6.51vw;
            }

        .cart-content .delivery-radius {
            margin-top: var(--margin);
            /* font-size: 1.915vw; */
            font-size: 1.215vw;
            /* border: 2px solid var(--color); */
            border: 2px solid #ffa73cea;
            padding: 1.5vw !important;
            border-radius: 2vw;
            color:#ffa83c;
            text-shadow: none !important;
            background:rgba(0,0,0,0.1);
            backdrop-filter: blur(5px);
            position: relative;
        }

            .mobile .cart-content .delivery-radius {
                font-size: 2.4vw;
                padding: 2.5vw !important;
                border-radius: 6vw;
            }

        .cart-content .cart-items {
            margin-top: var(--margin);
            transition: margin-top 0.5s ease-in-out;
        }

        .cart-content .cart-items.empty {
            margin-top: 0;
        }

        .cart-content .total {
            width: 40%;
            position: relative;
            border: 2px solid #ffa73cea;
            margin-top: var(--margin);
            padding: 1.5vw;
            font-size:1.6vw;
            border-radius: 5vw;
            color:#ffa83c;
            background:rgba(0,0,0,0.1);
            backdrop-filter: blur(5px);
            left: 30%;
            text-shadow: 0.00em 0.00em 0.2em #472005;

        }

            .mobile .cart-content .total {
                padding: 3.2vw;
                font-size: 3vw;
            }

        .cart-content .random  {

            margin-top: var(--margin);

            /* transform:scale(1.5); */
            /* font-size:2.08vw; */
            font-size:1.62vw;
            color:#fff0eb;
            color:#fff6f4;
            white-space: nowrap;
            text-shadow: 0.01em 0.05em 0.2em #472005;
        }

            .mobile .cart-content .random  {
                font-size:2.29vw;
            }

        .cart-content form {

            margin-top: var(--margin);

            display: flex;
            flex-direction: column;
            text-align: center;
        }

            .cart-content form input {
                height: 3vw;
                padding: 2vw;
                border:none;
                background-color: rgb(255, 192, 55);
                font-size:1.1vw;
                transition: all 0.25s ease-in-out;
                border-radius: 20.6vw;
                /* border:solid 1px salmon; */
            }

                .mobile .cart-content form input {
                    height: 5vw;
                    padding: 5vw;
                    font-size:3.64vw;  
                    font-family: 'Ubuntu';
                }
                
                .mobile .cart-content form input:nth-child(2) {
                    font-size:3.17vw;  
                }

            .cart-content form input:not(:last-child) {
                margin-bottom: 1vw;
            }

                .mobile .cart-content form input:not(:last-child) {
                    margin-bottom: 3.0vw;
                }

            .cart-content form input::placeholder {
                color: rgb(8, 4, 46);
            }

            .cart-content form input[type="text"],
            .cart-content form input[type="tel"] {
                /* background: linear-gradient(to bottom,orange 1%, rgb(255, 192, 55) 80%); */
                background: linear-gradient(to bottom,orange 1%, rgb(255, 179, 15) 80%);
                box-shadow: 0px 2px 5px rgba(146, 81, 0, 0.65) inset, 0px 1px 1px rgba(0, 0, 0, 0.5) inset;
            }
            
            /* .fields input:nth-child(4) {
                background: linear-gradient(to top,orange 3%, rgb(255, 192, 55));
            } */

            .cart-content form input:focus {
                /* background: linear-gradient(to top,#ff9100 3%, #ff9100); */
                background: linear-gradient(to bottom, #ff7037 0.1%, #ffc037 95%);
                
            }

            .cart-content form input:focus {
                outline:none;
                border-bottom-width: 2px;
                background-color: #ff9100;
                font-weight: bold;
                transform: scale(1.1);
            }

            .cart-content form input[data-edited]:invalid {
                background: rgb(255, 184, 156);
                background: rgb(255, 134, 104);
                color: red;
            }

        .cart-content button.submit {

            margin-top: var(--margin);

            color:wheat;
            border-radius: 23vw 23vw 23vw 23vw;
            /* background: url(/static/art/add.svg) no-repeat left; */
            /* background-size: 15%;
            background-position-x: 2.4vw; */
            padding: 0;
            justify-content: center;
            height:7vw;
            user-select: none; 
            cursor:pointer;
            outline: none;
            position: relative;
            overflow: hidden;
            background-color: #00000070;
            border: solid 1px orange;
            box-shadow: 1vw 0.5vw 5vw #ff6600;
            font-size: 3vw;
            font-family: 'Xolonium';
            transform: scale(1.1);
            backdrop-filter: blur(5px);
            display: block;
            width: 100%;
        }

            .cart-content button.submit::before {
                content: 'Оформить заказ';
            }

                .cart-content .form-loading button.submit::before {
                    content: 'Отправляется...';
                }

                .cart-content .done button.submit::before {
                    content: 'Заказ отправлен!';
                }

            .mobile .cart-content button.submit {
                /* bottom:11vw; */
                height: 12vw;
                width: 100%;
                font-size: 4.5vw;
            }

            .cart-content button .cart-highlight {
                background-color: #fcf9f1;
                opacity: 0.5;
                height: 17vw;
                top:-2vw;
                width:1vw;
                left:-13vw;
                transform: rotate(13deg);
                position: absolute;
                animation: glass-button 6s linear 0s infinite;
            }



            .cart-content button .cart-highlight2 {
                background-color: #fcf9f1;
                opacity: 0.5;
                height: 17vw;
                top:-2vw;
                left:-13vw;
                width:2vw;
                transform: rotate(13deg);
                position: absolute;
                animation: glass-button 6s linear .04s infinite;

            }



.form-loading {
    /* animation: loading-pulse 1.0s ease-in-out alternate infinite; */
}

.form-loading input:disabled {
    opacity: 0.55;
    color:white;
    filter: grayscale(100%);
}

.form-loading button.submit {
    animation: loading-pulse 1.0s ease-in-out alternate infinite;
}

.cart-content form:not(:valid) ~ button {
    pointer-events: none;
    opacity: 0.75;
    transform: scale(1);
}

.cart-content form:not(:valid) ~ button:before {
    content: 'Заполните поля';
}